---
layout: page
title: Blog
permalink: /blog/
exclude_from_nav: true
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-content-truncate">
          {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first }}
          {% else %}
            {{ post.content | strip_html | truncatewords:100 }}
          {% endif %}
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}">Read More...</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
